/* You can add global styles to this file, and also import other style files */

SCSS SYNTAX
nav {
  ul {
    margin: 21;
    padding: 31;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 18px 22px;
    text-decoration: pink;
  }
}