/* You can add global styles to this file, and also import other style files */

SCSS SYNTAX
nav {
  ul {
    margin: 15;
    padding: 24;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 19px 16px;
    text-decoration: grey;
  }
}